body {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
}
/*Top start*/
.top-header {
  background: rgb(14, 226, 42);
  padding: 0;
  margin: 0;
}
.top-contact {
  text-align: center;
}
.top-header a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1rem;
  margin: 0.5rem;
}
.top-header a:hover {
  color: rgb(224, 224, 224);
}

/*top end*/
/*nav start*/
.section2 {
  padding: 0;
  margin: 0;
  height: 1vh;
}
.bg-light {
  background: rgb(255, 255, 255);
}
.navbar-brand img {
  width: 15rem;
  margin-left: 2rem;
}
.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item {
  margin: 0 0.938rem;
}
.navbar-collapse {
  margin-left: 10rem;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(14, 226, 42);
}
.navbar-light .navbar-nav .nav-link :active {
  color: rgb(14, 226, 42);
}

/*nav end*/

/*section3 start*/
.section3 {
  background: url(../images/bck.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 55vh;
  margin: 0;
  padding: 0;
}
.top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  color: #fff;
}
.top-info1 img {
  width: 30rem;
  margin-top: 5rem;
  margin-left: 7rem;
}
.top-info1 h2 {
  padding-right: 5rem;
  margin-left: 7rem;
}
.btn {
  padding: 0.5rem 2rem;
  background: rgb(255, 255, 255);
  color: #000000;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5rem;
  border: none;
  font-weight: 700;
}

/*section 3 ends*/

/*section 4 starts*/

.section4 {
  background: url(../images/bck2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.section4 h1 {
  text-align: center;
  padding: 5rem 0 3rem 0;
}
.section4 h1 span {
  color: rgb(14, 226, 42);
}
.section4-content {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}
.section4-content h2 {
  color: rgb(14, 226, 42);
}
.section4 .btn {
  padding: 1.5 0rem;
  border: rgb(14, 226, 42) solid 1px;
  color: #005816;
  margin-top: 5rem;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 .btn:hover {
  background: rgb(14, 226, 42);
  color: #fff;
}
/*section 4 ends*/

/*section 5 starts*/
.bussiness-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.bussiness-boxinner {
  background: rgb(247, 247, 247);
  padding: 1rem;
  margin: 0.5rem;
  color: #005816;
  font-weight: 700;
}
.bussiness-box-num {
  display: flex;
  flex-direction: row;
}
.bussiness-boxinner h2 {
  color: rgb(14, 226, 42);
}
/*section 5 ends*/

/*section 6 starts*/
.section6 {
  background: rgb(241, 241, 241);
  margin-bottom: 5rem;
}
.upcoming-event h1 {
  text-align: center;
  margin-top: 3rem;
  font-size: 3.7rem;
  font-weight: 700;
  color: #005816;
}
.upcoming-event > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.upcoming-event img {
  width: 40rem;
}
.upcoming-event .btn {
  margin: 1rem;
  color: rgb(14, 226, 42);
}
.upcoming-event .btn:hover {
  background: rgb(14, 226, 42);
  color: #fff;
}
/*section 6 ends*/
/*speakers section starts*/
.all-speaker h1 {
  text-align: center;
  color: rgb(18, 240, 66);
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem;
}
.speaker-info {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.all-speaker h3 {
  color: rgb(25, 133, 48);
  font-weight: 700;
}
.speaker-info > div {
  margin: 1rem;
  height: 80vh;
  text-align: center;
  border: rgb(201, 197, 197) solid 1px;
  box-shadow: 5px 15px 15px 5px rgb(161, 161, 161);
  border-radius: 10px;
}
.speaker-info img {
  margin-top: 1rem;
  width: 15rem;
  border: #fff solid 10px;
  box-shadow: 5px 15px 15px 5px rgb(130, 156, 120);
}
.speaker-info > div a {
  text-decoration: none;
  color: #08fa44;
}
.speaker-info > div a h6:hover {
  font-size: 20px;
}
.all-speaker button {
  margin-top: 2rem;
  border: #08fa44 solid 3px;
  color: #08fa44;
}
.all-speaker button:hover {
  font-size: 15px;
  color: #fff;
  background: #08fa44;
  border: #08fa44;
}

/*speakers section ends*/
/*section 7 starts*/
.section7 h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  color: rgb(14, 226, 42);
  margin-top: 5rem;
}
.hi-slide {
  position: relative;
  width: 47.125rem;
  height: 18.25rem;
  margin: 7.188rem auto 0;
  overflow: hidden;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -1.25rem;
  border-radius: 3.125rem;

  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all 0.7s;
  font-size: 1.25rem;
  font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
  opacity: 1;
  background-color: rgb(18, 240, 66);
}

.hi-slide .hi-prev {
  left: -4.375rem;
}

.hi-slide .hi-prev::before {
  content: "<";
}
.hi-slide .hi-next {
  right: -4.375rem;
}
.hi-slide .hi-next::before {
  content: ">";
}

.hi-slide > ul {
  list-style: none;
  position: relative;
  width: 47.125rem;
  height: 18.25rem;
  margin: 0;
  padding: 0;
}

.hi-slide > ul > li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 23.563rem;
  top: 146px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 3px solid rgb(34, 32, 32);
  background-color: #333;
  cursor: pointer;
}

.hi-slide > ul > li > img {
  width: 100%;
  height: 100%;
  background-position: center;
}
/*patner section starts*/
.marquee h1 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  color: #08fa44;
  margin-top: 5rem;
  padding: 1rem;
}
logo-slider {
  padding: 20px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.inner {
  display: flex;
  position: relative;
  animation: marquee 10s linear infinite;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;

  /*/ Debug: This is just to help see where the loop happens
    // &:nth-of-type(1) { &, img { border:1px dashed red;  }}
    // &:nth-of-type(2) { &, img { border:1px dashed blue; }}

    // You may need this if there are too few images for the banner width
    //min-width:100%;*/
}
.inner img:hover {
  animation-play-state: paused;
  cursor: grab;
}
.inner img {
  display: block;
  width: 15rem;
  margin: 2.5rem;
}

.inner img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    white,
    rgba(white, 0) 80px,
    rgba(white, 0) calc(100% - 80px),
    white
  );
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*partner section ends*/

/*last section starts*/
.last-section {
  margin-top: 5rem;
}
.subscribe .join-text {
  text-align: center;
}
.subscribe .join-text h2 {
  color: rgb(14, 226, 42);
}
.last-section .subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control {
  margin: 1rem 0 1rem 0;
  border-radius: 5rem;
  background: #f0f2f6;
  border: 0;
}
.subscribe button {
  padding: 0.4rem 11rem;
  border: rgb(14, 226, 42) solid 1px;
  color: rgb(14, 226, 42);
  margin: 1rem;
  margin-bottom: 2.1rem;
  font-weight: 700;
  font-size: 1.2em;
}
.subscribe > div img {
  width: 27.5rem;
  padding-left: 2rem;
  margin-top: 1rem;
}
.last-icons {
  text-align: center;
}
.subscribe .last-icons a {
  background: rgb(14, 226, 42);
  text-align: center;
  color: #fff;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 50%;
  text-decoration: none;
}
/*last section ends*/
.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}
/*footer*/
.footer {
  display: flex;
  background: #2b2b2b;
  color: #fff;
  display: flex;
  padding: 1rem;
  margin-top: 2rem;
}

/*media query*/
@media all and (max-width: 1200px) {
  /*last section starts*/
  .subscribe {
    flex-direction: row;
  }
}
@media all and (max-width: 991px) {
  /*nav*/
  /*section3*/
  .top-info1 img {
    margin-left: 0;
  }
  .top-info1 h2 {
    margin-left: 0;
  }
  /*section 4 startss*/
  .section4-content {
    flex-direction: column;
    margin-left: 5rem;
  }
  .section4 {
    height: 120vh;
  }
  /*section 6 starts*/
  .upcoming-event img {
    width: 45rem;
  }
  /*speaker section*/
  .speaker-info > div {
    height: 110vh;
  }
  .speaker-info img {
    width: 25rem;
  }
  .speaker-info {
    flex-direction: column;
    margin-top: 1rem;
  }
  /*section 7 starts*/
  .hi-slide {
    position: relative;
    width: 40rem;
    height: 18.25rem;
    margin: 7.188rem auto 0;
  }

  .hi-slide .hi-next,
  .hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -1.25rem;
    border-radius: 3.125rem;

    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: all 0.7s;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .hi-slide .hi-next:hover,
  .hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: rgb(18, 240, 66);
  }

  .hi-slide .hi-prev {
    left: -0rem;
  }

  .hi-slide .hi-prev::before {
    content: "<";
  }
  .hi-slide .hi-next {
    right: -4.375rem;
  }
  .hi-slide .hi-next::before {
    content: ">";
  }

  .hi-slide > ul {
    list-style: none;
    position: relative;
    width: 15rem;
    height: 10rem;
    margin: 0;
    padding: 0;
  }

  .hi-slide > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 23.563rem;
    top: 146px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid rgb(34, 32, 32);
    background-color: #333;
    cursor: pointer;
  }

  .hi-slide > ul > li > img {
    width: 100%;
    height: 100%;
    background-position: center;
  }
  /*last section starts*/
  .subscribe > div img {
    width: 37rem;
  }
  .subscribe .join-text h2 {
    margin-top: 3rem;
  }
  .subscribe {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 768px) {
  /*nav*/
  /*section3*/
  .section3 {
    height: 70vh;
  }
  /*section 4*/

  /*section 5 starts*/
  .bussiness-box {
    flex-direction: column;
  }

  .bussiness-box-num {
    padding: 1rem;
    margin: 1rem;
  }

  /*section 6 starts*/
  .upcoming-event img {
    width: 27rem;
  }
  /*speaker section*/
  .speaker-info > div {
    height: 100vh;
  }
  .speaker-info {
    flex-direction: column;
  }
  .speaker-info img {
    width: 20rem;
  }
  /*section 7 starts*/
  .hi-slide {
    position: relative;
    width: 30rem;
    height: 18.25rem;
  }
  /*last section starts*/
  .subscribe > div img {
    width: 35rem;
  }
  .subscribe button {
    padding: 0.4rem 8rem;
  }
}
@media all and (max-width: 480px) {
  .top-info1 img {
    width: 10rem;
  }
  /*section 3*/
  .section3 {
    height: 50vh;
  }
  /*section 4*/
  .section4 {
    height: 90vh;
  }
  .section4-content {
    flex-direction: column;
  }
  /*section 5 starts*/

  /*section 6 starts*/
  .upcoming-event img {
    width: 25rem;
  }
  /*speaker section*/
  .speaker-info img {
    width: 10rem;
  }
  /*section 7 starts*/
  .hi-slide {
    position: relative;
    width: 21rem;
    height: 18.25rem;
  }

  /*last section starts*/
  .subscribe > div img {
    width: 15rem;
  }
  .form-control {
    padding: 0.5rem 0;
    width: 8rem;
    margin: 5rem;
  }
  .subscribe {
    text-align: center;
  }
  .subscribe input {
    width: 100%;
    margin: 1rem;
  }
  .speaker-info > div {
    height: 70vh;
  }
  .footer {
    font-size: 10px;
  }
}
